body {
    margin: 0;
    min-height: 100vh;
}

/* Typography */
.dark-bg {
    background-color: #1f2937;
}

.grey-bg {
    background-color: #e5e7eb;
}

.white-bg {
    background-color: #f9faf8;
}

.white-txt {
    color: #f9faf8;
}

.dark-txt {
    color: #1f2937;
}

.btn {
    background-color: #3882f6;
    padding: 10px 40px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 16px;
    font-weight: bold;
}

.hero-txt {
    font-size: 48px;
    font-weight: bolder;
    /* .white-txt */
}

.secondary-txt {
    font-size: 18px;
    color: #e5e7eb;
}

.info-txt {
    font-size: 36px;
    font-weight: bolder;
    /* dark-txt */
}

.quote-txt {
    font-size: 36px;
    font-weight: italic;
    /* dark-txt */
}

.logo-txt {
    font-size: 24px;
    /* .white-txt */
}

.container {
    width: 80%;
    display: flex;
    flex-direction: row;
}

/* Navbar Styling */
nav {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
}

/* Hero Styling */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    width: 100%;
    overflow-x: hidden;
}

.hero > .container {
    flex-direction: row;
    gap: 5rem;
    align-items: center;
}

.hero-img {
    display: flex;
    align-items: center;
    width: 100%;
}

.left-hero,
.right-hero {
    width: 50%;
}

/* Information Section */
.info-section {
    display: flex;
    justify-content: center;
}

.info-section > .container {
    text-align: center;
    flex-direction: column;
}

.info-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 150px;
}

.card-img {
    display: flex;
    width: 100%;
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #3882f6;
}

/* Quote Section */
.quote-section {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-section > .container {
    flex-direction: column;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.quote-section blockquote {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    line-height: 1.5;
}

.quote-section .author {
    text-align: right;
}